<!DOCTYPE html>

<html>
    <head>
	<title>登录</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

	<form action="{:U('Login/login')}">
	    <input type='text' name='loginid' placeholder='请输入帐号' value='{$last_login_id}' /><br>
	    <input type='password' name='password' placeholder='请输入密码' /><br>
	    <input type='text' name='verify' placeholder='请输入验证码' /><br>
	    <input type='hidden' name='src' value='{$login_src}' />
	    <img src="{:U('Login/verify?k=login')}" /><br>
	    <input type='submit' value='登录' />
	</form>
	
    </body>
</html>
